<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<a th:href="@{/}">홈으로 돌아가기</a>
<a th:href="@{/update}">회원정보 수정하기</a>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${session.LoginUser}"></td>
                <td th:text="${session.LoginPass}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>