<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cjh.mapper.loginmapper">
    <insert id="insertUser">
        insert into user_tb10(email, password) values(#{email}, #{password})
    </insert>

    <select id="loginUser" resultType="com.example.cjh.dto">
        select * from user_tb10 where email= #{email} and password= #{password}
    </select>

<!--    <select id="findByUser" resultType="com.example.cjh.dto">-->
<!--        select * from user_tb10 where email= #{email}-->
<!--    </select>-->
</mapper>